<div class="flex">
  <div class="basis-1/3 mr-10">
    <div class="text-3xl mb-4 border-b-2">New datasets</div>
    <div class="">
      <p-timeline [value]="(latestRecords$ | async)?.hits?.hits">
        <ng-template pTemplate="content" let-event>
          <div class="mb-6">
            {{ event._source.resourceTitleObject.default }}
            <div class="text-sm p-text-secondary">{{ event._source.changeDate }}</div>
          </div>
        </ng-template>
      </p-timeline>
    </div>
  </div>
  <div class="basis-2/3">
    <div
      *ngFor="let agg of (statAggs$ | async) | keyvalue"
      class="card mb-16">

      <div class="text-3xl mb-4 border-b-2">{{agg.key}}</div>

      <div class="w-full grid grid-cols-5 gap-4">
        <a routerLink="/search" *ngFor="let bucket of agg.value.buckets">
          <div class="p-4 h-36 rounded-lg shadow-lg flex flex-row items-center overflow-hidden">
            <div class="flex-auto">
              <span class="fa-stack text-"
                    [ngStyle]="{
                      color: 'var(--primary-color)'
                      }">
                <i class="fa fa-regular fa-circle fa-stack-2x"></i>
                <i class="fa fa-angle-right fa-stack-1x"></i>
              </span>
            </div>
            <div class="flex-grow">
              <div class="text-3xl">
                {{bucket.doc_count}}
              </div>
              <div class="font-bold">
                {{bucket.key}}
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

