<div class="relative"
     *ngIf="record">
  <div class="sticky top-0 z-20">
    <div class="py-10 mb-4 bg-slate-50/30 backdrop-blur-sm font-bold text-4xl">
      {{record._source.resourceTitleObject.default}}

      <p-button class="absolute top-0 right-0 m-4"
                icon="fa fa-close"
                outlined="true"
                link="true"
                [routerLink]="['/search']"
                title="Back to search"></p-button>
    </div>
  </div>
  <div class="flex gap-4">
    <div class="basis-3/4">

      <div class="bg-gray-400 p-4 rounded mb-10">
        {{record._source.resourceAbstractObject.default}}
      </div>

      <div class="border-2 p-2 rounded mb-10">
        <div class="text-2xl border-b-2">Technical information</div>

        <div class="" *ngIf="record._source.resourceDate">
          <p-timeline [value]="record._source.resourceDate">
            <ng-template pTemplate="content" let-event>
              <small class="p-text-secondary">{{ event.date | date: 'YYYY-MM-dd' }}</small>
            </ng-template>
            <ng-template pTemplate="opposite" let-event>
              {{ event.type }}
            </ng-template>
          </p-timeline>
          {{record.date}}
        </div>
      </div>


      <div class="border-2 p-2 rounded mb-10">
        <div class="text-2xl border-b-2">API</div>
        <div class="text-2xl border-b-2">Downloads</div>
        <div class="text-2xl border-b-2">Links</div>
      </div>
    </div>

    <div class="basis-1/4">
      <p-galleria
        containerClass="w-full mb-10"
        [(value)]="record._source.overview"
        [showThumbnails]="record._source.overview.length > 1"
        [containerStyle]="{ 'max-width': '100%' }"
        [numVisible]="3">
        <ng-template pTemplate="item" let-item>
          <p-image preview="true"
                   imageClass="object-cover w-full h-full"
                   [src]="item.url"></p-image>
        </ng-template>
        <ng-template pTemplate="caption" let-item>
          <ng-container *ngIf="!!item.nameObject">
            <h4 style="margin-bottom: .5rem; color: #ffffff;">
              {{ item.nameObject?.default }}
            </h4>
            <p>{{ item.descriptionObject?.default }}</p>
          </ng-container>
        </ng-template>
      </p-galleria>


      <div class="border-2 p-2 rounded">
        <div class="text-2xl border-b-2">Contact</div>

      </div>
    </div>
  </div>
  <div>
    <pre>{{ record | json}}</pre>
  </div>
  <p-scrollTop></p-scrollTop>
</div>

